<center><h1>Places You've Looked</h1>
  <h4> By ZIP </h4>

<table>
  <thead>
    <tr>
      <th class="zip-header"></th>
    </tr>
  </thead>


  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.postal_code %></td>
        <td><%= link_to 'See Events', user %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Search', new_user_path %>

</center>
