<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Zip Code</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.postal_code %></td>
        <td><%= link_to 'See Events', user %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Search', new_user_path %>
