@media (min-width: 768px) {
      .navbar .navbar-nav {
        display: inline-block;
        float: none;
    }
     .navbar .navbar-collapse {
        text-align: center;
    }
}

.zip-header {
  text-align: center;
}

td, th {
  padding-left: 25px;
  color: #deddda;
}

/* h1, h3 {
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}*/

/*@font-face {
    font-family: 'Bazar';
    src: url('Bazar.eot?') format('eot'), 
         url('Bazar.woff') format('woff'), 
         url('Bazar.ttf')  format('truetype'),
         url('Bazar.svg#Bazar') format('svg');
}

 h1 {
    color: #d7ceb2;
    text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72;
    font: 80px 'BazarMedium';
    letter-spacing: 10px;
}*/

h1, h2, h3, h4 {
  color: #deddda;
}
#slate {
  color: #deddda;
}

text {
  color: #deddda;
}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  border: 1px solid transparent;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-color: #deddda;
}
tr.spaceUnder > td
{
  padding-bottom: 1em;
}

#footer {
    background-image:url("ticktr_bottom.jpg");
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
  font-color: #deddda;
}

.form-control {
  width: 15%
}

a {
  color: #deddda;
  &:visited {
    color: #7a8288;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 50px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: center;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
